TwitterWall/SampleData/TwitterSampleData/TwitterSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TwitterSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TwitterSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwitterSampleData" type="tns:TwitterSampleData" />
  <xs:complexType name="TwitterSampleData">
    <xs:sequence>
      <xs:element name="Tweets" type="tns:Tweets" />
    </xs:sequence>
    <xs:attribute name="Keyword" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Tweets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TweetsItem" type="tns:TweetsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TweetsItem">
    <xs:attribute blend:Format="Date" name="CreatedAt" type="xs:string" />
    <xs:attribute blend:FormatParameters="12,8" name="Text" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\assets\Profile photos" name="ProfileImage" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Name" name="FromUser" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>